* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wrapper {
  position: relative;
  width: 100%;
  max-width: 1920px;
  height: 1600px;
  background-color: white;
}
.nav {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: baseline;
  top: 0;
  left: 0;
  width: inherit;
  height: 120px;
  z-index: 10;
  background-color: inherit;
}
.item{position: inherit;
margin-top: 50px;
background-color: inherit;}
.sidebar {
  position: sticky;
  top: 120px;
  margin-top: 200px;
  width: inherit;
  background-color: inherit;
  z-index: 1;
  opacity: 0.6;
}
.text {
  position: absolute;
  top: 120px;
  left: 600px;
  width: 60%;
  z-index: 3;
  opacity: 0.6;
}
h4 {
  
  font-family: PT sans;
  font-size: 36px;
  font-weight: 900;
  background-color: inherit;

}
.spaece {
  margin-right: 15px;
  background-color: inherit;
  position: inherit;
}
.introdution {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 60px;
  background-color: inherit;
}
.underLine {
  text-decoration: underline;
}
.background {
  background-color: lightgrey;
}
.imeg {
  position: fixed;
  top: 200px;
  left: 880px;
  max-width: 760px;
  max-height: 760px;
}
.logo{display: inline-block;
  font-size: 60px;
  font-weight: 600;
  padding-right: 20px;
  max-width: 400px;
  width: 100%;
  
}.someText{
  display:inline-block;
padding-top: 50px;
margin-left: 10px;
font-family: Roboto;
font-size: 20px;
font-weight: 400;
}
.emg{position: inherit;
  color:white;
  -webkit-text-stroke-width:2px;
  -webkit-text-stroke-color: black;}


