:root {
  --color-gray: #f2f2f2;
  --color-white: #fff;
  --color-black: #000000;
  --color-orange: #ff9900;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  background-color: var(--color-gray);
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  padding-top: 20px;
  max-width: 1400px;
  width: 100%;
  height: 80px;
  background-color: var(--color-white);
}
.logo {
  padding-left: 10px;
}
.navigation__link > a {
  font-size: 20px;
  color: var(--color-black);
  padding: 10px;
  text-decoration: none;
}
.navigation__button {
  display: flex;
  padding: 10px;
}
.singIn,
.singUp {
  padding: 10px;
  border-radius: 4px;
}
.singIn {
  margin-right: 20px;
}
.singUp {
  background-color: var(--color-orange);
}

.up,
.in,
.sblok-button__get {
  font-size: 20px;
  text-decoration: none;
  padding: 10px 20px;
}
.up {
  color: white;
}
.in {
  color: black;
}

.conteiner {
  margin:auto;
  display: flex;
  justify-content: center;
  max-width: 1400px;
  width: 100%;

  background-color: var(--color-white);
}
.conteiner__text {
  max-width: 500px;
  width: 100%;
  padding: 10px 10px;
  margin-top: 60px;
  font-size: 18px;
  font-weight: 400;
  font-family: Poppins;
}
h1 {
  font-size: 44px;
  font-family: Poppins;
  font-weight: 700;
}
.conteiner__imege {
  max-width: 600px;
  width: 100%;
  margin-top: 30px;
  padding: 0 10px;
}
.img {
  width: inherit;
}
.blok-button {
  margin-top: 100px;
}
.blok-button__start {
  padding: 15px 20px;
  border-radius: 4px;
  background-color: var(--color-orange);
  border: none;
}
.blok-button__start,
.blok-button__get {
  color: white;
  font-weight: bold;
  padding: 15px 20px;
  text-decoration: none;
}
.blok-button__link {
  color: var(--color-orange);
  font-weight: bold;
  padding: 15px 20px;
}
